---
layout: default
show_in_nav: true
---

<main class="content" role="main">
  <header class="blog-header">
      <h1 class="blog-title">{{ site.title }}</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>
  {% include catchy_intro.html %}
  <div class="cf frame">
    {% for post in paginator.posts %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_long_string }}</time>
            <br />
            {% if site.wpm %}
          		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm | ceil %}
                  {% else %}
          		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 | ceil %}
            {% endif %}
            {% if site.readtime %}&nbsp;<span class="post-read-time"><amp-img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAXVBMVEUAAAAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlAsPlBIYWHjAAAAHnRSTlMAAQIEBRESFxgZJyg3Ojs8PT95fn+Cg6Olpt7g4v22Nz8hAAAAeElEQVQIHQXBC2KCMAAFsLRrFbehzs9ECu/+xzSBelnG+porMI0kSdYjTHsevZTDM/uROjLjh7+s1Tl3tOA/syUdLTjkZaSgBSWrLcV3EpQM73Ra+0LP4pobwCMXdcsvMGdUpj23Xkq/Z5/gtCVJMiagXt/bWM4VH9b3CU6x8AI/AAAAAElFTkSuQmCC" layout="fixed" width="14" height="14" alt="clock face"></amp-img>&nbsp;
              {% if readtime > 1 and readtime < 1.5 %}~1 minute{% endif %}
              {% if readtime > 1.5 %}~<span class="time">{{ readtime }}</span> minutes{% endif %}
              {% if readtime < 1 %}Less than 1 minute to read{% endif %}
            </span>{% endif %}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <nav class="pagination" role="navigation">
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ site.baseurl }}/page{{paginator.next_page}}">&larr; Older posts</a>
    {% else %}
      <a class="newer-posts disabled">&larr; Older posts</a>
    {% endif %}
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="{{ site.baseurl }}/">Newer posts &rarr;</a>
      {% else %}
        <a class="older-posts" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer posts &rarr;</a>
      {% endif %}
    {% else %}
      <a class="older-posts disabled">Newer posts &rarr;</a>
    {% endif %}
  </nav>
</main>

{% include footer.html %}
