---
layout: page
title: Series
permalink: /series/
tags: [Series]
description: "An index of posts sorted by series."
show_in_nav: false
---

{% assign my_array = [] %}
{% for post in site.posts %}
  {% if post.series %}
    {% unless my_array contains post.series %}
        {{ post.series }}
        {% capture my_array %}{{ my_array | push: post.series }}{% endcapture %}
    {% endunless %}
  {% endif %}
{% endfor %}
{{ my_array | join: ', ' }}

<ul class="tag-box inline">
{% assign list = site.series %}
  {% for ser in list %}
    <li><a href="#{{ ser }}">{{ ser | capitalize }} </a></li>
  {% endfor %}
{% assign tags_list = null %}
</ul>

{% for tag in site.series %}
  <h2 id="{{ tag }}" class="cat-header-label">{{ tag | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% assign sorted = pages_list | sort: 'date' | reverse %}
    {% for post in sorted %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
        <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d %b %Y" }}</time></span></a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = null %}
    {% assign group = null %}
  </ul>
{% endfor %}
