[Git](https://git-scm.com/) for life.

<div class="flex-row-center custom-badges">
  <figure>
    <a href="https://www.youracclaim.com/badges/e7a0cf68-63b8-4311-a6f1-92d0152dcad5/public_url">
      <amp-img width="125" height="125"
        src="{{ site.url }}/assets/images/champion/ibm-champion-collaboration-solutions-3-year-milestone.png"
        layout="fixed"
        alt="IBM Champion Collaboration Solutions 3 year Milestone">
      </amp-img>
    </a>
  </figure>


  <figure>
    <a href="https://www.youracclaim.com/badges/ca25b98d-1360-4b1b-bbd2-fc5d4b58b2da/public_url">
      <amp-img width="125" height="125"
        src="{{ site.url }}/assets/images/champion/ibm-champion-2017-ibm-cloud.png"
        layout="fixed"
        alt="2017 IBM Champion Cloud">
      </amp-img>
    </a>
  </figure>

  <figure>
    <a href="https://www.youracclaim.com/badges/9bbf103a-d211-4e2d-acda-9911cb7c4f41/public_url">
      <amp-img width="125" height="125"
        src="{{ site.url }}/assets/images/champion/ibm-champion-2017-collaboration-solutions.png"
        layout="fixed"
        alt="2017 IBM Champion Collaboration Solutions">
      </amp-img>
    </a>
  </figure>

  <figure>
    <a href="https://www.youracclaim.com/badges/e57e9039-4b6e-4b1f-8fc2-dfeefea3dc67/public_url">
      <amp-img width="125" height="125"
        src="{{ site.url }}/assets/images/champion/ibm-champion-2016-social-business.png"
        layout="fixed"
        alt="2016 IBM Champion Social Business">
      </amp-img>
    </a>
  </figure>

  <figure>
    <a href="https://www.youracclaim.com/badges/8ee96e50-fd50-4e8f-b775-1120e8a79a8b/public_url">
      <amp-img width="125" height="125"
        src="{{ site.url }}/assets/images/champion/ibm-champion-2015-social-business.png"
        layout="fixed"
        alt="2015 IBM Champion Social Business">
      </amp-img>
    </a>
  </figure>
</div>
