[Git](https://git-scm.com/) for life.

<div class="flex-row-center">
  <figure>
    <amp-img width="125" height="125"
      src="{{ site.url }}/assets/images/champion/ibm-champion-2016-social-business.png"
      layout="fixed"
      alt="2016 IBM Champion Social Business">
    </amp-img>
    <figcaption><a href="https://www.youracclaim.com/badges/e57e9039-4b6e-4b1f-8fc2-dfeefea3dc67/public_url">2016 IBM Champion &mdash; Social Business </a></figcaption>
  </figure>

  <figure>
    <amp-img width="125" height="125"
      src="{{ site.url }}/assets/images/champion/ibm-champion-2015-social-business.png"
      layout="fixed"
      alt="2015 IBM Champion Social Business">
    </amp-img>
    <figcaption><a href="https://www.youracclaim.com/badges/8ee96e50-fd50-4e8f-b775-1120e8a79a8b/public_url">2015 IBM Champion &mdash; Social Business </a></figcaption>
  </figure>
</div>
