<!--
<amp-iframe width=150 height=270
    layout="responsive"
    sandbox="allow-scripts allow-same-origin"
    resizable
    src="https://www.youracclaim.com/embedded_badge/8ee96e50-fd50-4e8f-b775-1120e8a79a8b">
</amp-iframe>

<amp-iframe width=150 height=270
    layout="responsive"
    sandbox="allow-scripts allow-same-origin"
    resizable
    src="https://www.youracclaim.com/embedded_badge/e57e9039-4b6e-4b1f-8fc2-dfeefea3dc67">
</amp-iframe>
-->
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="8ee96e50-fd50-4e8f-b775-1120e8a79a8b"></div>
<script type="text/javascript">
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//www.youracclaim.com/assets/utilities/embed.js';
    var o = document.getElementsByTagName('script')[0];
    o.parentNode.insertBefore(s, o);
    })();
</script>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e57e9039-4b6e-4b1f-8fc2-dfeefea3dc67"></div>
<script type="text/javascript">
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//www.youracclaim.com/assets/utilities/embed.js';
    var o = document.getElementsByTagName('script')[0];
    o.parentNode.insertBefore(s, o);
    })();
</script>
