<div id="disqus_thread">
  <amp-iframe
  	width="700"
    height="320"
    layout="responsive"
    resizable
    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"
    frameborder="0"
    src="https://disqus.com/embed/comments/?base=default&amp;version=e04dc5565ac38ab1b60d822e9074b9ab&amp;f={{ site.disqus_shortname }}&amp;t_i=&amp;t_u={{ url | prepend: site.baseurl | prepend: site.url | url_encode }}&amp;t_d={{ url | url_encode }}&amp;t_t=Everything%20Old%20is%20New%20Again&amp;s_o=default">
    <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
  </amp-iframe>
</div>
