{% if page.imagefeature %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}/images/{{ page.imagefeature }})" >
{% else %}
<footer id="footer"  class="blog-background overlay text-center align-middle animated from-top" style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" >
{% endif %}

    <div class="inner">
        <div class="container">

            <ul class="social-icons">
            {% if site.owner.twitter %}<li>
                <a href="https://twitter.com/{{ site.owner.twitter }}" data-toggle="tooltip" title="{{ site.owner.name}} on Twitter" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.facebook %}<li>
                <a href="https://facebook.com/{{ site.owner.facebook }}" data-toggle="tooltip" title="{{ site.owner.name}} on Facebook" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.google_plus %}<li>
                <a href="{{ site.owner.google_plus }}" data-toggle="tooltip" title="{{ site.owner.name}} on Google+" target="_blank">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.stackexchange %}<li>
                <a href="{{ site.owner.stackexchange }}" data-toggle="tooltip" title="{{ site.owner.name}} on StackExchange" target="_blank">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.linkedin %}<li>
                <a href="{{ site.owner.linkedin }}" data-toggle="tooltip" title="{{ site.owner.name}} on LinkedIn" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.instagram %}<li>
                <a href="https://instagram.com/{{ site.owner.instagram }}" data-toggle="tooltip" title="{{ site.owner.name}} on Instagram" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.flickr %}<li>
                <a href="https://www.flickr.com/photos/{{ site.owner.flickr }}" data-toggle="tooltip" title="{{ site.owner.name}} on Flickr" target="_blank">
                    <i class="fa fa-flickr"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.github %}<li>
                <a href="https://{{ site.owner.github }}.github.io/" data-toggle="tooltip" title="{{ site.owner.name}} on Github" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.othersite %}<li>
                <a href="{{ site.owner.othersite}}" data-toggle="tooltip" title="{{ site.owner.othersite}}" target="_blank">
                    <i class="fa fa-fighter-jet"></i>
                </a>
            </li>{% endif %}
        </ul>
            <div>
                <a href="{{ site.url }}/about.html">{{ site.owner.name }}</a> &copy; {{ site.time | date: '%Y' }} <!-- &bull; <span class="footer-license"><a href="//creativecommons.org/licenses/by/3.0/">Creative Commons 3.0 Unported License</a></span> -->
            </div>
            <ul class="menu-items">
            {% for link in site.links %}
            <li>
                {% if link.external %}
                    <a href="{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>&nbsp;
                {% else %}
                    <a href="{{ site.url }}{{ link.url }}">{% if link.icon %}<i class="fa {{ link.icon }}"></i>{{ link.title }}{% else %}{{ link.title }}{% endif %}</a>&nbsp;
                {% endif %}
            </li>
            {% endfor %}
            <!-- in site.links, no need for duplicates -->
            <!--
            <li><a href="{{ site.url }}/atom.xml" title="Atom feed"><i class="fa fa-rss"></i> Atom Feed</a></li>
			<li><a href="{{ site.url }}/rss.xml" title="RSS feed"><i class="fa fa-rss"></i> RSS Feed</a></li>
            -->
        </ul>
        </div>
    </div>
    {% if site.animated_fins and site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">

                <path class="large left" d="M0 0 L50 50 L0 100" fill="rgba({{ site.fin_color }}, .1)"></path>
                <path class="large right" d="M100 0 L50 50 L100 100" fill="rgba({{ site.fin_color }}, .1)"></path>

                <path class="medium left" d="M0 0 L50 50 L0 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>
                <path class="medium right" d="M100 0 L50 50 L100 66.6" fill="rgba({{ site.fin_color }}, .3)"></path>

                <path class="small left" d="M0 0 L50 50 L0 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>
                <path class="small right" d="M100 0 L50 50 L100 33.3" fill="rgba({{ site.fin_color }}, .5)"></path>

                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>

                <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>

            </svg>
        </div>
    {% else %}
    {% if site.triangleheader %}
        <div class="decor-wrapper">
            <svg id="footer-decor" class="decor top" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 L50 50 L100 0 L0 0" fill="rgba(255,255,255, 1)"></path>

                <path d="M48 48 L50 51 L52 48 L48 48" fill="rgba(255,255,255, 1)"></path>

            </svg>
        </div>
    {% endif %}
    {% endif %}
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/twemoji-awesome.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/megaStyleSoup.min.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/font-awesome-4.6.3/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <!-- CDN Google Web Fonts -->
    <!--
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,100,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps' rel='stylesheet'
type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    -->
    <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Source+Sans+Pro:200,300,400,700', 'Raleway:400,300,100,700', 'Bilbo+Swash+Caps', 'PT+Sans' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
    <!-- social profile identification -->
    <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Person",
  "name" : "Eric McCormick",
  "url" : "https://edm00se.io",
  "sameAs" : [
    "https://www.facebook.com/eric.n.mccormick",
    "https://twitter.com/edm00se",
    "https://instagram.com/edm00se",
    "https://www.linkedin.com/in/emccormick",
    "https://plus.google.com/+EricMcCormickThereCanBeOnlyOne",
    "https://www.ibm.com/developerworks/community/profiles/user/Eric%20McCormick"
  ]
}
    </script>
</footer>
