<style type="text/css">
.seriesNote,
.seriesNote * {
    font-size: 11pt !important;
	font-weight: normal !important;
}
</style>

{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="seriesNote">
	<p>This article is <strong>Part {{ idx }}</strong> in <span data-toggle="tooltip" title="{{ page.series }}">a <strong>{{ count }}-Part</strong> Series</span>.</p>
	<ul>
	{% assign count = '0' %}
	{% for post in site.posts reversed %}
	{% if post.series == page.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		<li>{% if page.url == post.url %}This Post: {% endif %}Part {{ count }} -
    <a href="{{post.url}}">{{post.title}}
      <span class="entry-date">
        <time datetime="{{ post.date | date_to_string }}" itemprop="datePublished">{{ post.date | date_to_string }}</time>
      </span>
    </a>
		</li>
	{% endif %}
	{% endfor %}
	</ul>
</div>
