---
sitemap: false
---
<!doctype html>
<html lang='{{ page.language }}'>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <style>
            html, body {
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
                this.page.url = '{{ url | prepend: site.baseurl | prepend: site.url }}';
                this.page.identifier = '{{ url }}';
            };
            (function () {  // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            (function () {
              window.addEventListener("message", receiveMessage, false);
                function receiveMessage(event) {
                  if (event.data) {
                    try {
                      JSON.parse(event.data);
                    } catch (e) {
                      return false;
                    }
                    var msg = JSON.parse(event.data);
                    if (msg.name == 'resize') {
                      window.parent.postMessage({
                        sentinel: 'amp',
                        type: 'embed-size',
                        height: msg.data.height
                      }, '*');
                    }
                  }
                }
                var mutationObserverAvailable = typeof window.MutationObserver === 'function';
                function bindObserver() {
                    var frame = document.getElementsByTagName('iframe')[0];
                    // if the frame is not available yet try again later
                    if (frame === null || frame === undefined) {
                        setTimeout(bindObserver, 200);
                        return;
                    }
                    // check the size now since the frame is now available
                    checkSizeChange();
                    var resizeObserver = new MutationObserver(checkSizeChange);
                    resizeObserver.observe(frame, {
                        attributes: true,
                        attributeFilter: ['style']
                    });
                }
                // use mutation observers to quickly change the size of the iframe
                if (mutationObserverAvailable) {
                    bindObserver();
                }
                // also check periodically for the size of the frame
                setInterval(checkSizeChange, mutationObserverAvailable ? 5000 : 500);
            })();
        </script>
    </body>
</html>
