<!doctype html>
<html amp>
  {% include head.html %}
  <body>
    {% include header.html %}

    {{ content }}
    {% if site.google_analytics %}
      <!-- Asynchronous Google Analytics snippet -->
      <amp-analytics type="googleanalytics" id="analytics1">
        <script type="application/json">
        {
          "vars": {
            "account": "{{ site.google_analytics }}"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            }
          }
        }
        </script>
      </amp-analytics>
    {% endif %}
  </body>
</html>
