---
layout: compress
---
{{ content | replace: 'amp-', ''
  | replace: 'youtube data-videoid="', 'iframe  frameborder="0" allowfullscreen src="https://www.youtube.com/embed/'
  | replace: '/youtube', '/iframe'
  | replace: 'twitter width="390" height="50" layout="responsive" data-tweetid="', 'iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" class="twitter-tweet twitter-tweet-rendered" style="position: static; visibility: visible; display: block; width: 500px; height: 183.172px; padding: 0px; border: none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" title="tweet" data-tweet-id="'
  | replace: '/twitter', '/iframe'
  | replace: 'anim', 'img'
  | replace: '/amp', ''
}}
